<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">
		Training
	</a>

	<button 
		class="navbar-toggler" 
		type="button" 
		data-toggle="collapse" 
		aria-controls="mainNavbar" 
		aria-expanded="false" 
		aria-label="Toggle navigation"
		(click)="toggleNavbar()"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="mainNavbar" [ngClass]="{ 'show': navbarOpen }">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item">
				<a class="nav-link" routerLink="/training/new">Add Training</a>
			</li>
		</ul>
	</div>
</nav>