<form [formGroup]="formGroup" #f="ngForm">
	<div class="form-group row">
		<label for="name" class="col-lg-2 text-left">Training name</label>
		<div class="col-lg-4 p-lg-0">
			<input
				   type="text"
				   formControlName="name"
				   class="form-control"
				   [ngClass]="{ 'is-invalid': formGroup.controls.name.invalid && (f.submitted || formGroup.controls.name.dirty || formGroup.controls.name.touched) }" />

			<div *ngIf="formGroup.controls.name.invalid && (f.submitted || formGroup.controls.name.dirty || formGroup.controls.name.touched)" class="invalid">
				<div *ngIf="formGroup.controls.name.errors.required">{{validationMessages.requiredName}}</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="startDate" class="col-lg-2 text-left">Start date</label>
		<div class="col-lg-4 p-lg-0">
			<div class="input-group">
				<input
					   type="text"
					   formControlName="startDate"
					   class="form-control"
					   [ngClass]="{ 'is-invalid': formGroup.controls.startDate.invalid && (f.submitted || formGroup.controls.startDate.dirty || formGroup.controls.startDate.touched) }"
					   placeholder="yyyy-mm-dd"
					   ngbDatepicker
					   #dpStartDate="ngbDatepicker"
					   readonly
					   (focus)="dpStartDate.toggle()" />
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" (click)="dpStartDate.toggle()" type="button">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<div *ngIf="formGroup.controls.startDate.invalid && (f.submitted || formGroup.controls.startDate.dirty || formGroup.controls.startDate.touched)" class="invalid">
				<div *ngIf="formGroup.controls.startDate.errors.required">{{validationMessages.requiredStartDate}}</div>
			</div>
		</div>
	</div>

	<div class="form-group row">
		<label for="endDate" class="col-lg-2 text-left">End date</label>
		<div class="col-lg-4 p-lg-0">
			<div class="input-group">
				<input
					   type="text"
					   formControlName="endDate"
					   class="form-control"
					   [ngClass]="{ 'is-invalid': formGroup.controls.endDate.invalid && (f.submitted || formGroup.controls.endDate.dirty || formGroup.controls.endDate.touched) }"
					   placeholder="yyyy-mm-dd"
					   ngbDatepicker
					   #dpEndDate="ngbDatepicker"
					   readonly
					   (focus)="dpEndDate.toggle()" />
				<div class="input-group-append">
					<button class="btn btn-outline-secondary" (click)="dpEndDate.toggle()" type="button">
						<i class="fa fa-calendar" aria-hidden="true"></i>
					</button>
				</div>
			</div>
			<div *ngIf="formGroup.controls.endDate.invalid && (f.submitted || formGroup.controls.endDate.dirty || formGroup.controls.endDate.touched)" class="invalid">
				<div *ngIf="formGroup.controls.endDate.errors.required">{{validationMessages.requiredEndDate}}</div>
			</div>
			<div *ngIf="formGroup.hasError('dateCompare')" class="invalid">{{validationMessages.compareStartAndEndDate}}</div>
		</div>
	</div>

	<input type="submit" class="btn btn-success" value="Confirm" (click)="add()" />

</form>
<br/>
<div *ngIf="isResponseReady">
	<div class="card">
		<div class="card-body" [ngClass]="{ 'invalid': !response.succeeded }">
			{{response.message}}
			<br />
			<span *ngIf="response.succeeded">Total number of days: {{response.days}}</span>
		</div>
	</div>
</div>