<header class="site-header">
	<app-navbar></app-navbar>
</header>
<section class="site-content">
	<router-outlet></router-outlet>
</section>
<footer class="site-footer">
	Copyright &copy; 2019
</footer>