html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}

.site-content {
	padding: 2rem 2rem 4rem 2rem;
}

.site-footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2.1rem;
  margin: 0;
  padding: 0.5rem;
  background: #333333;
  color: white;
  font-size: 0.7rem;
}
